/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.index{
	#loading-indicator {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: 800ms ease-in;
		background: #202125;
		color: #e0e0e0;
		top: 0;
		margin: 0 auto;
		font-size: 140px;
		letter-spacing: -5px;
		pointer-events: none;

		&.on {
			opacity: 1;
		}
	}

	#group-name {
		font-size: 80px;
		padding-bottom: 10px;
		margin-bottom: 40px;
		border-bottom: 10px solid #333333;
	}
	h2 {
		font-size: 40px;
	}

	img {
		width: 20%;
		cursor: pointer;
		opacity: 1;
		transition: 200ms;
		&:hover {
			opacity: 0.8;
		}
	}

}

.modal-dialog {
	img {
		width: 100%;
	}
	.close {
		position: absolute;
		color: white;
		font-size: 50px;
		top: -10px;
		opacity: 0.8;
		text-decoration: none !important;
		right: 15px;
	}
	.close:hover {
		text-decoration: none;
		opacity: 1;
	}
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
